.table{
    width: 50%;
    margin-left: 400px;
    padding: 80px;
 }
 .table-responsive{
  padding: 50px;
 }
  
  @media (max-width: 767px) {
    .table-responsive {
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    } 
    
  
    
    .table td {
      display: block;
      width: 100%;
      text-align: right;
      padding: 8px;
    }
    
    .table td::before {
      content: attr(data-label);
      font-weight: bold;
      text-align: left;
    }
    
    .table td:last-child {
      border-bottom: none;
    }
    
    .table td:before,
    .table td {
      border-bottom: 1px solid #dee2e6;
    }
  } 
  